.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo  > img{
    width: 200px;
    height: 55px;
}

header {
    background-color: #070607;    
    width: 100%;
    position: fixed;
}

.logo{
    width: 29%;
}

.contatos{
    width: 25%;  
      
}

.menu{
    width: 60%;
    padding: 5px;
}

.menu  nav a {
    color: #ffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    cursor: pointer;
}

.menu nav a:hover {
    color: #2d3dc7;

}

.contatos button {
    width: 35px;
    height: 32px;
    color: #2d3dc7;
    background: transparent;
    border: solid 2px #2d3dc7;
    border-radius: 5px; 
    margin-right: 4px;
    cursor: pointer;
}

.contatos button i {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

