
  body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #1e0d3c;
    color: antiquewhite;
  }
 
  span {
      color: rgb(34, 85, 253);
  }

.main{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 280px 0px 0px 0px;
}

.card{
   width: 30vw;
   height: 30vh;
}

  .form input[type="number"] {
    width: 200px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }