header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    margin: 20px;
    text-decoration: none;
    
}

nav {
    padding: 20px 0px 0px 0px;
}

nav button {
    margin-left: 20px;
}