@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #472B25;
    color: antiquewhite;
    font-family: "Jua", sans-serif;
    font-weight: 100;
}

section {
    padding: 29px 8%;
}


/*Layout Home*/
#home{
    height: 70vh;
}

.page1 {
    width: 75vw;
    display: flex;

}

.page1 > aside {
    padding: 100px 0px 0px 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 45px;
}



span {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #E4BB81;
    padding-left: 30px;
}

aside > h4 {
    padding-left: 60px;
}

article > img {
    width: 170%;
}

#aboutMe {
    height: 100vh;
    background-color: blue;
}

#mySkill {
    height: 100vh;
    background-color: rgb(146, 112, 84);
}

#projetos {
    height: 100vh;
    background-color: rgb(255, 0, 170);
}

#especialidaes {
    height: 100vh;
    background-color: rgb(43, 255, 0);
}